.venv/
.env

__pycache__/
*.pyc

.DS_Store
**/.DS_Store

.vscode

data/*
!data/data.zip

website/public/models/*
!website/public/models/whale_shark_3D_model_fantasy.glb

website/public/videos/*
!website/public/videos/whaleshark_960_540_30fps.mp4

computer_vision/data/inputs/training_data/*
computer_vision/data/inputs/extracted_data/*

computer_vision/data/outputs/embeddings_database/*
computer_vision/data/outputs/new_embeddings/*

computer_vision/data/outputs/vision_images/original/*
computer_vision/data/outputs/vision_images/bbox/*
computer_vision/data/outputs/vision_images/segmentation/*
computer_vision/data/outputs/vision_images/bbox-segmentation/*

!computer_vision/data/inputs/training_data/.gitkeep
!computer_vision/data/inputs/extracted_data/.gitkeep

!computer_vision/data/outputs/embeddings_database/.gitkeep
!computer_vision/data/outputs/new_embeddings/.gitkeep

!computer_vision/data/outputs/vision_images/original/.gitkeep
!computer_vision/data/outputs/vision_images/bbox/.gitkeep
!computer_vision/data/outputs/vision_images/segmentation/.gitkeep
!computer_vision/data/outputs/vision_images/bbox-segmentation/.gitkeep

yolov8n.pt
yolov8n-seg.pt
YOLOv8

*.yaml

