.venv/
.env

__pycache__/
*.pyc

.DS_Store
**/.DS_Store

data/*
!data/data.zip

computer-vision/training-data/*
computer-vision/extracted-data/*
computer-vision/embeddings-database/*

!computer-vision/training-data/.gitkeep
!computer-vision/extracted-data/.gitkeep
!computer-vision/embeddings-database/.gitkeep

