.venv/
.env

__pycache__/
*.pyc

.DS_Store
**/.DS_Store

data/*
!data/data.zip

website/public/models/*
!website/public/models/whale_shark_3D_model_fantasy.glb

website/public/videos/*
!website/public/videos/whaleshark_960_540_30fps.mp4

computer-vision/training-data/*
computer-vision/extracted-data/*

computer-vision/embeddings-database/*
computer-vision/new-embeddings/*

!computer-vision/training-data/.gitkeep
!computer-vision/extracted-data/.gitkeep

!computer-vision/embeddings-database/.gitkeep
!computer-vision/new-embeddings/.gitkeep

yolov8n.pt
YOLOv8

*.yaml

